ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
MONGODB_URI=
DATABASE_NAME=
APP_HOST=
APP_PORT=
AUTHOR=
CLIENT_URL=
IS_SERCURE_COOKIE=
COOKIE_SAMESITE=

// cloudinary cùng mail 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

// payos api key
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

//# ==========================================
# REDIS CACHING CONFIGURATION
# ==========================================
# Chế độ chạy: 'local' (Docker) | 'cloud' (Upstash Singapore) | 'memory' (Node.js RAM)
REDIS_MODE=local
REDIS_LOCAL_URI=redis://127.0.0.1:6379
REDIS_CLOUD_URI=rediss://default:your_token@your_instance.upstash.io:6379
CACHE_DEFAULT_TTL=300


// email config
EMAIL_USER=
EMAIL_PASS=


//Google
GG_CLIENT_ID=
GG_CLIENT_SECRET=

//n8n
CHATBOT_GPT_N8N_API=

PLATFORM_FEE_PERCENT=
